
<html>
  <head>
    <title>New lessons page</title>
  </head>
  <body>
<div style="font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;border-radius: 25px;padding:20px!important;background-color:aliceblue;">
<h2 style="color:#555 !important">How to add content to this page</h2>
<p>
From the Add Content dropdown list, choose the appropriate item:</p>
<p>
<strong>Add Text</strong> - text<br/>
<strong>Add Content Links</strong> - files, links to webpages, links to images<br/>
<strong>Embed content on page</strong> - images, video eg YouTube, PDF files<br/>
<strong>Add Assignment</strong> - add an existing assignment<br/>
<strong>Add Forum Topic</strong> - add an existing forum topic<br/>
<strong>Add Subpage</strong> - add a subpage</p>
You can add other types of content; for more information see "<a href="general.html" target="_blank">Getting Started with Lessons</a>".<br/>
</p>
</div>
  </body>
</html>
